
{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Roomname</th>
            <th scope="col">Uid Sender </th>
            <th scope="col">Uid Reciever</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            {% for chat in chats %}
          <tr>
            <td scope="row">{{chat.room_name}}</td>
            <td>{{chat.userUid_sender}}</td>
            <td>{{chat.userUid_reciever}}</td>
            <td>{{chat.email}}</td>
          </tr>
        </tbody>
            {% endfor %}
      </table>
{% endblock %}