{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Ubicacion inicial</th>
            <th scope="col">Ubicacion final</th>
            <th scope="col">Precio</th>
            <th scope="col">Numero Plazas</th>
            <th scope="col">Fecha</th>
            <th scope="col">Creador</th>
            <th scope="col">Participantes</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for route in routes %}
          <tr>
            <td scope="row">{{route.route_id}}</td>
            <td>{{route.ubicacion_inicial}}</td>
            <td>{{route.ubicacion_final}}</td>
            <td>{{route.precio}}</td>
            <td>{{route.num_plazas}}</td>
            <td>{{route.fecha}}</td>
            <td>{{route.creador}}</td>
            <td>{{route.participantes}}</td>
            <td><button type="button" class="btn btn-danger" onclick="deleteRoute('{{route.route_id}}')">Delete</button></td>
          </tr>
        </tbody>
            {% endfor %}
    </table>

    <script>
        function deleteRoute(route_id) {
          var urlParams = new URLSearchParams(window.location.search);
          var csrftoken = document.cookie.match(/csrftoken=([^ ;]*)/)[1];

          $.ajax({
              url: '{% url "delete-route" %}?route_id=' + route_id,
              type: 'POST',
              contentType: false,
              headers: {'X-CSRFToken': csrftoken}, 
              success: function(data) {
                  window.location.reload();
              },
              error: function(error) {
                  console.error('Error:', error);
              }
          });
        }
    </script>
{% endblock %}
