{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Altitude</th>
            <th scope="col">Latitude</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for charger in chargers %}
          <tr>
            <td scope="row">{{charger.charger_id}}</td>
            <td>{{charger.latitude}}</td>
            <td>{{charger.longitude}}</td>
            <td><button type="button" class="btn btn-danger" onclick="deleteCharger('{{ charger.charger_id }}')">Delete</button></td>
          </tr>
        </tbody>
            {% endfor %}
    </table>

    <script>
        function deleteCharger(charger_id) {
          var urlParams = new URLSearchParams(window.location.search);
            var firebase_uid = urlParams.get('uid');
            var csrftoken = document.cookie.match(/csrftoken=([^ ;]*)/)[1];

            $.ajax({
                url: '{% url "delete-charger" %}?charger_id=' + charger_id,
                type: 'POST',
                contentType: false,
                headers: {'X-CSRFToken': csrftoken}, 
                success: function(data) {
                    window.location.reload();
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        }

        function editUser(firebaseUid) {
          var currentUrl = window.location.href;
          var editUrl = currentUrl + '/edit/?uid=' + firebaseUid;
          window.location.href = editUrl;
        }
    </script>
{% endblock %}
