# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the local settings file
settings_local.py

# Ignore the database file
db.sqlite3

# Ignore the media directory (user-uploaded files)
media/

# Ignore the static directory (static files collected by Django)
static/

# Ignore virtual environment
myenv2/

# Ignore log files
*.log

# Ignorar el archivo de configuración local
settings_local.py

goVolt/database


